/*
 *= require_tree ./skeleton
 *= require_self
 */


header, footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

header {
  margin: 10px auto 50px;
  border-bottom: 1px solid #333;
}

footer {
  margin: 50px auto 10px;
  border-top: 1px solid #333;
}

code, pre {
  font-family: monospace;
}