<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>DemoApp</h1>
      </div>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="container">
        <em>This is an example footer. &copy; {{Author}} {{Year}}.</em>
      </div>
    </footer>
  </body>
</html>
